<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <label for="xUno">Valor de X1</label>
        <input type="number" id="xUno">

        <label for="xDos">Valor de X2</label>
        <input type="number" id="xDos">
    </div>
    <div>
        <label for="yUno">Valor de Y1</label>
        <input type="number" id="yUno">

        <label for="yDos">Valor de Y2</label>
        <input type="number" id="yDos">
    </div>
    <div>
    <button type="button" id="btn" >Distancia</button>
</div>
<div id="print">

</div>
    <script src="../js/main.js" type="module"></script>
</body>

</html>