<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <input type="number" id="iHoras" placeholder="Hora ingreso">
    <input type="number" id="iMinutos" placeholder="Minuto ingreso">
    <input type="number" id="iSegundos" placeholder="Segundo ingreso">
    <br>
    <input type="number" id="sHoras" placeholder="Hora salida">
    <input type="number" id="sMinutos" placeholder="Minuto salida">
    <input type="number" id="sSegundos" placeholder="Segundos de salida">
    <br>

    <button type="button" id="btn">Aceptar</button>
    <script src="../js/workTime.js" type="module"></script>
</body>
</html>