<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <label for="x">Valor de X</label>
        <input type="number" id="x">
    </div>
    <div>
        <label for="y">Valor de Y</label>
        <input type="number" id="y">
    </div>
    <div>
    <button type="button" id="btn">Nuevo</button>
</div>
<div id="print">

</div>
    <script src="../js/main.js" type="module"></script>
</body>

</html>