<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Carrera</title>
</head>

<body>
    <div class="container-fluid">
        <div class="mb-5"></div>
        <div class="row d-flex justify-content-center mb-3">
            <div class="input-group  col-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Corredor 1</span>
                </div>
            </div>
        </div>
        
        <div class="row d-flex justify-content-center mb-3">
            <div class="input-group  col-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Corredor 2</span>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <button type="button" id="btnActivar" class="btn btn-success">Iniciar Carrera</button>
            <button type="button" id="btnReiniciar" class="btn btn-warning">Reiniciar Carrera</button>
        </div>


    </div>



    <script src="../js/main.js" type="module"></script>
</body>

</html>